h1 {
  font-size: 40px;
}

.select-flag {
  height: 5em;
  width: 8em;
  padding: 2px;
}

.select-box {
  margin: 5px;
}

.crest_pic {
  height: 1em;
  width: 1em;
}

.league_table .head {
  margin-top: 10px;
  background-color: #edd5b2;
  display: flex;

}

.club_row {
  display: flex;
}
