<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foot/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'foot/cover.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'foot/style.css' %}" />


    <title>Futiweb</title>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><h2 class="masthead-brand">Futiweb</h2></a>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% static 'foot/img/' as baseUrl %}
            <img class="select-flag" src="{{ baseUrl }}{{ country }}.png"></img>
          </div>

          <div class="inner cover">
            <div class="league_table container-fluid">
              <div class="league_table row head">
                <div class="col-sm-1">
                  Crest
                </div>
                <div class="col-sm-4">
                  Club
                </div>
                <div class="col-sm-2">
                  Diff
                </div>
                <div class="col-sm-2">
                  Matchday
                </div>
                <div class="col-sm-2">
                  Points
                </div>
              </div>

              {% for entry in standings %}

                <div class="club_row row-fluid">
                   <div class="col-sm-1">
                     <img class="crest_pic" src="{{entry.crestURI}}" />
                   </div>
                   <div class="col-sm-4">
                     {{ entry.teamName }}
                   </div>
                   <div class="col-sm-2">
                     {{ entry.goalDifference }}
                   </div>
                   <div class="col-sm-2>">
                     {{ entry.playedGames }}
                   </div>
                   <div class="col-sm-2">
                     {{ entry.points }}
                   </div>

                </div>

              {% endfor %}
            </div>
          </div>
<br />
          <div class="mastfoot">
            <div class="inner">
              <p>made by yabbes using the Football-Data.org API, Django and Bootstrap</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <script src="{% static 'foot/js/bootstrap.min.js' %}"></script>

  </body>
</html>
